.sidebar-container {
  width: 20vw;
  height: 100%;
  position: fixed;
  color: white;
}
.contacts-container {
  width: 100%;
  height: 100%;
  padding: 15px 15px;
}
.active {
  background-color: white;
  color: rgb(1, 49, 122);
  font-weight: 800;
  padding: 10px;
  border-radius: 8px;
}
.item {
  margin-bottom: 50px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 15px;
}
.contacts-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.each-contact {
  width: 188px;
  border-radius: 8px;
  height: 156px;
  background-color: rgb(153, 8, 88);
  box-shadow: 1px 1px 1px 1px rgb(106, 102, 102);
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name {
  color: white;
  font-size: 25px;
  font-weight: 800;
  width: 70%;
  text-align: center;
}
.status {
  font-size: 20px;
  font-weight: 600;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 8px;
}
.active {
  color: green;
  font-family: cursive;
}
.inactive {
  color: red;
  font-family: monospace;
}
.create-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 70vw;
  width: 100%;
  min-height: 80vh;
  height: 100%;
}
.form-container {
  width: 350px;
  height: fit-content;
  padding: 25px 15px;
  color: white;
  border-radius: 10px;
}
.primary-input-field {
  height: 45px;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  color: rgb(2, 2, 55) !important;
  font-weight: 600;
}
.label {
  font-weight: 800;
}
.chartsContainer {
  width: 800px !important;
  height: 350px;
}
.edit-container {
  height: 100%;
  width: 75vw;
}
div.modal-content {
  position: absolute !important;
  top: 25% !important;
  left: 45% !important;
}
.editBtn,
.deleteBtn {
  width: 220px !important;
}
.box {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  min-height: 228px;
  width: 300px;
  border-radius: 5px;
  z-index: 9999;
}
.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(202, 200, 200, 0.768);
  bottom: 0;
  z-index: 999;
}
.side-heads {
  padding: 10px 5px;
}
@media screen and (max-width: 1000px) {
  .nav-container {
    width: 100% !important;
  }
}
@media screen and (max-width: 945px) {
  .chartsContainer {
    width: 500px !important;
  }
  .item .text {
    display: none;
  }
  .item .icons {
    font-size: 25px;
  }
  .sidebar-container {
    width: 10vw;
  }
}
@media screen and (max-width: 608px) {
  .chartsContainer {
    width: 400px !important;
  }
}
@media screen and (max-width: 425px) {
  .chartsContainer {
    width: 270px !important;
  }
  .form-container {
    width: 300px;
  }
  .create-container {
    width: 100%;
  }
  .sidebar-container {
    width: 15vw;
    padding: 0 0;
  }
  .side-heads {
    padding: 0 0;
  }
  .active {
    padding: 0;
  }
  .icons {
    font-size: 20px !important;
  }
  .item {
    padding: 0 0;
  }
}
@media screen and (max-width: 375px) {
  .chartsContainer {
    width: 250px !important;
  }
}
.mapContainer {
  width: 800px !important;
}
